<tr class="item-<%= item.id %>">
	<td class="name"><%= on_the_spot_edit item, :item_name %></td>
	<td class="category"><%= Category.find(item.category_id).category_name %></td>
	<td class="account"><%= acct_name(item.id) %></td>
	<td class="amount"><%= on_the_spot_edit item, :item_amount %></td>
</tr>